extends ./includes/layout.jade

block content
   .container-fluid.bkg-green
    .row
      #screenshot-md.col-md-7.hidden-sm.hidden-xs.screenshot-bkg(title="MacBook display")
          each screenshot, index in screenshots
            .screenshot-item(id=screenshot.id, title=screenshot.title, class=index > 0 ? "hidden": "")
      .start-animation.col-md-3.col-md-offset-1.col-sm-8.col-sm-offset-2.col-xs-10.col-xs-offset-1
        .row.logo-main-contianer
          .col-md-12.col-sm-12.col-xs-12
            #logo.center-block
            p.main-title-name.text-center
             | MailBar
            h1.main-title.text-center
              | The best Mail.app friend.
              br
              | Manage your inbox from the menubar.
            include ./includes/buttons_top.jade
            .clearfix
      #screenshot-sm.hidden-lg.hidden-md.col-sm-11.hidden-xs.screenshot-bkg(title="MacBook display")
          each screenshot, index in screenshots
              .screenshot-item(id=screenshot.id, title=screenshot.title, class=index > 0 ? "hidden" : "")

   .container-fluid
      .row
        .col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-12.col-xs-offset-0
          include ./includes/features.jade
          .clearfix

    .container-fluid.top-light-border
      .row
        .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2.col-xs-12.col-xs-offset-0
          include ./includes/reviews.jade
          .clearfix

   .container-fluid.top-light-border
      include ./includes/buttons_bottom.jade
   .container-fluid.top-light-border
     include ./includes/newsletter.jade

